.wrapper {
  display: flex;

  margin: 20px 0;

  button {
    margin: 0 10px;
    padding: 10px 25px;
    border: 0;

    cursor: pointer;
    transition: 0.3s;
  }

  button:nth-child(1) {
    background-color: #27293d;

    color: white;
  }

  button:nth-child(1):hover {
    background-color: #484bb0;

    color: white;
  }

  button:nth-child(2) {
    background-color: #27ae60;

    color: white;
  }

  button:nth-child(2):hover {
    background-color: #2af27d;

    color: #1d1f68;
  }
}
