@import "../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 170px;
  margin: 0 1%;
  border: 1px solid #d9d9d9;

  span {
    img {
      border-radius: 50%;
    }
  }
}
