@import "../../src/styles/variables";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $white-2;

  &Box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 500px;
    margin: 20px;
    padding: 20px 0;
    border-radius: 15px;
    box-shadow: $boxShadow-1;

    background-color: $backgroundColor-1;

    &Title {
      font-weight: 700;
      font-size: 18px;
    }

    &Buttons {
      width: 90%;

      button:nth-child(1) {
        background-color: $black;
        color: $white;
      }
      button:nth-child(1):hover {
        background-color: $black-2;
      }

      button:nth-child(2) {
        background-color: $white;
      }
      button:nth-child(2):hover {
        background-color: $cyanBlue;
      }

      button:nth-child(3) {
        background-color: $tealishBlue;
        color: $white;
      }
      button:nth-child(3):hover {
        background-color: $tealishBlue-2;
      }
    }
  }
}
