@import "../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;

  padding: 2% 5%;

  &Tutorial {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;
    border-radius: 50%;

    background-color: $backgroundColorNav;

    font-size: 3rem;
    color: $white;

    transition: 0.3s;
  }
  &Tutorial:hover {
    color: $tealishBlue-2;

    cursor: pointer;
  }

  textarea {
    box-sizing: border-box;
    display: flex;

    width: 100%;
    height: 200px;
    margin-top: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 8px 8px 21px 2px rgba(66, 68, 90, 1);

    font-size: 1.2rem;
    font-weight: bold;

    outline: none;
    resize: none;
  }
}
