@import "../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 65vh;

  &Box {
    display: flex;
    flex-wrap: wrap;
  }

  &Tutorial {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;
    border-radius: 50%;

    background-color: $backgroundColorNav;

    font-size: 3rem;
    color: $white;

    transition: 0.3s;
  }
  &Tutorial:hover {
    color: $tealishBlue-2;

    cursor: pointer;
  }
}
