@import "../../../../styles/variables";

.wrapper {
  position: relative;
  z-index: 4;
  display: none;
  align-items: center;
  justify-content: space-between;

  height: 130px;
  padding: 0 50px;

  background-color: transparent;

  &Logo {
    a {
      font-family: var(--dmSerifDisplay-font);
      font-weight: 700;
      font-size: 3rem;
      color: $white;
      margin-left: 120px;
      letter-spacing: 1.5px;

      transition: color 0.3s;
    }
    a:hover {
      color: $greenCyan;
    }
  }

  &List {
    display: flex;
    align-items: center;

    width: 50%;
  }
}
