.wrapper {
  display: flex;
  align-items: center;

  height: 12vh;
  min-height: 100px;
  padding: 20px;

  background-color: #dee2e3;

  &Title {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-left: 10%;

    h2 {
      color: #27293d;
      font-size: 28px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
      margin-top: 10px;
      color: #777777;
    }
  }
}
