$breakpoints: (
  "ultra-smaller": 481px,
  "super-smaller": 577px,
  "smaller": 769px,
  "small": 993px,
  "large-min": 1201px,
  "large": 1301px,
) !default;

$backgroundColor-1: #f5f5f5;
$backgroundColorNav: rgb(31 41 55);
$backgroundColorLayout: rgb(243 244 246);

$black: #000;
$black-2: #081f1f;

$white: #fff;
$white-2: #fbfbfb;

$tealishBlue: #3c5999;
$tealishBlue-2: #4161a6;
$tealishBlue-3: #d1d5db;
$cyanBlue: #f0f8ff;
$duskyBlue: #374151;

$boxShadow-1: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
