@import "../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 2% 0;

  &Title {
    display: flex;

    max-width: 400px;
    padding: 25px;
    margin: 10px 0 40px 0;
    box-shadow: 8px 8px 21px 2px rgba(66, 68, 90, 1);

    font-size: 1.5rem;
    font-weight: 600;

    span {
      display: flex;
      align-items: center;

      margin-left: 15px;

      font-weight: lighter;
      font-style: italic;
      font-size: 1.3rem;
    }
  }

  &Content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
