@import "../../../styles/variables";

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  margin-top: 50px;
  margin-left: 0;
  width: 100%;

  padding: 20px;
  box-shadow: 8px 8px 30px -6px rgba(66, 68, 90, 1);

  font-size: 1.3em;

  h2 {
    margin: 15px 0;

    font-size: 2rem;
    font-weight: bold;

    color: $duskyBlue;
  }

  &Lessons {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
  }
}
