.wrapper {
  &Arrows {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: 20px 0;

    &Image {
      display: flex;
      align-items: center;

      width: 80px;
      img {
        border-radius: 50%;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      margin: 20px;
      border-radius: 50%;

      background-color: transparent;

      cursor: pointer;
      svg {
        font-size: 5rem;
        transition: color 0.3s;
      }

      svg:hover {
        color: #27ae60;
      }
    }
  }

  &Sentences {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-weight: bolder;
    }
  }
}
