@import "../../../styles/variables";

.wrapper {
  &Item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 95%;
    height: 60px;
    padding: 0 0.9rem;
    margin-top: 5px;
    border-bottom: 1px solid rgba(227, 229, 232, 0.16);

    font-size: 1.1rem;
    font-weight: 500;

    transition: background-color 0.3s;

    &Link {
      color: $tealishBlue-3;
    }
    p {
      margin-top: 5px;
      color: #e3e5e885;
      font-weight: 400;
      font-size: 1rem;
    }
  }

  &Item:hover {
    border-radius: 0.375rem;

    background-color: $duskyBlue;
  }
}
