@import "../../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 2% 5%;
  &TItle {
    margin: 10px 0 40px 10%;

    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: $duskyBlue;
  }
  &Lessons {
    display: flex;
    flex-wrap: wrap;

    margin-top: 1vh;
  }
}
